.tooltip {
    position: absolute;
    font-size: 12px;
    line-height: 12px;
    color: $red;
    width: 100%;
    bottom: 100%;
    padding: 3px;
    margin-bottom: 3px;
    border: 1px solid $red;

    &:after {
        content: "";
    }
}